@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Share+Tech+Mono&display=swap');

#chat {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 5px solid rgba(119, 173, 148, 0.445);
    border-radius: .5em;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Share Tech Mono', monospace;
}

#date {
    display: flex;
    font-size: .8em;
    color: gainsboro;
}

#name {
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
    color: rgb(53, 226, 168);
}

ul {
    list-style: none;

}

form {
    display: flex;
    flex-direction: row;
    order: 3;
}

input {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}